/* section1 */

section{
    overflow: hidden;
}
.navbar {
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out; 
    background-color: white;
    height: 70px;
}

.navbar.scrolled {
    background-color: #fffffffd; 
    padding: 10px 0;  
    transform: translateY(-10px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.nav-link {
    color: black !important;
    text-decoration: none;
    font-weight: bold;
}

.navbar-toggler {
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.568);
}

/* section1 ending */


/* section2 */

.carousel-caption h1 {
    font-family: 'Permanent Marker', cursive;
    font-weight: 900;
}

.carousel-item img {
    object-fit: cover;  
}

.carousel-caption {
    position: absolute;
    top: 40%;
    text-align: center;
}

@media screen and (max-width:768px) {

    .carousel-caption {
        top: 25%;
        margin-left: 5px;
        text-align: center;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

   .navbar-collapse {
        position: absolute;
        top: 0;
        left: -100%; 
        width: 75%; 
        background-color: white; 
        transition: left 0.5s ease; 
        z-index: 1050;
        margin-top:80px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    
    .navbar-collapse.show {
        left: 0; 
    }

    
    .navbar-nav {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start; 
        margin-top: 50px; 
        opacity: 0;
        transform: translateX(-100%);
        transition: transform 0.2s ease , opacity 0.2s ease 0.1s;
    }

    .navbar-collapse.show .navbar-nav {
        opacity: 1;
        transform: translateX(0); 
    }

    .navbar-nav .nav-link {
        padding: 10px 20px;
        font-size: 1.2rem;
        color: #333;
        text-align: left;
    }


}

/* section2 ending */


/* section3 */
.section3 {
    padding: 50px;
}

/* section3 ending */


/* section4 */
.section4 {
    background-color: black;
    color: white;
}

.column2 h2 {
    font-family: 'Permanent Marker', cursive;
    font-weight: 900;
    font-style: italic;
}

.column2 {
    padding: 80px;
}

/* section4 ending */

/* section5 */
.section5 {
    background-color: #F8F2E7;
}

/* section5 ending */

/* section6 */
.cl1 {
    padding: 70px;

}

/* section6 ending */


/* section8 */
.section8 {
    background-color: black;
    color: white;
}

.sec8 {
    padding: 50px;
}

.sec8 h2 {
    font-family: 'Permanent Marker', cursive;
    font-weight: 900;
    font-style: italic;
}

/* section8 ending */

/* section10 */
.column6 {
    padding: 60px;
}

/* section10 ending */

/* section11 */
.section11 {
    background-color: #F8F2E7;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* section11 ending */


/* section12 */
.c2 {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.c2 h2{
     font-family: 'Permanent Marker', cursive;
    font-weight: 900;
    font-style: italic;
}

/* section12 ending */


/* section13 */
.section13 {
    background-color: black;
    padding: 60px;

}

.input1 {
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 450px;
    border-color: white;
    outline: none;
}

/* section13 ending */



/* scrollbar */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px green;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: rgb(4, 233, 4);
    border-radius: 10px;
}
::selection {
    background-color: green;
    color: white;
  }


/* scrollbar ending */
